body{
    background-color: burlywood;
    color: black;
    transition: ease 0.5s;
}

.dark{
    background-color: black;
    color: white;
}

#btnDarkMode{
    display: flex;
    margin: 15px;
}

#btnLightMode{
    display: flex;
    margin: 15px;
}